body {
  font-family: 'VT323', monospace;
  background-color: black;
  color: #04ff00;
  width: 80%;
  max-width: 900px;
  margin: 2em auto; }

#chatContainer {
  display: grid;
  grid-template-areas: "header header" "userList messages" "userList footer";
  grid-template-columns: 0.5fr 3fr;
  gap: 20px;
  height: 600px; }

#header {
  padding: 10px;
  grid-area: header;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #04ff00;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%2304ff00' /></svg>"); }
  @supports (border-image-source: none) {
    #header {
      border-radius: 12px; } }

#userListDiv {
  grid-area: userList;
  overflow: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #04ff00;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%2304ff00' /></svg>"); }
  @supports (border-image-source: none) {
    #userListDiv {
      border-radius: 12px; } }

/* width */
#userListDiv::-webkit-scrollbar {
  height: 8px;
  width: 8px; }

/* Track */
#userListDiv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #04ff00; }

/* Handle */
#userListDiv::-webkit-scrollbar-thumb {
  background: #04ff00; }

#messagesDiv {
  display: flex;
  flex-direction: column-reverse;
  /*scrollbar-color: #04ff00 black;*/
  grid-area: messages;
  height: 500px;
  overflow: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #04ff00;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%2304ff00' /></svg>"); }
  @supports (border-image-source: none) {
    #messagesDiv {
      border-radius: 12px; } }

/* width */
#messagesDiv::-webkit-scrollbar {
  width: 8px; }

/* Track */
#messagesDiv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #04ff00; }

/* Handle */
#messagesDiv::-webkit-scrollbar-thumb {
  background: #04ff00; }

/* webkit-scrollar does not work on firefox... */
/* the following rules apply to firefox only */
@-moz-document url-prefix() {
  #userListDiv {
    scrollbar-width: 8px;
    scrollbar-color: #04ff00 #000; }
  #messagesDiv {
    scrollbar-width: 8px;
    scrollbar-color: #04ff00 #000; } }

#messageInputDiv {
  grid-area: footer; }

input {
  width: 100%;
  background-color: black;
  color: #04ff00;
  font-family: 'VT323', monospace;
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: #04ff00;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%2304ff00' /></svg>"); }
  @supports (border-image-source: none) {
    input {
      border-radius: 12px; } }

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px #04ff00;
  border-style: solid;
  border-width: 2px;
  border-color: #04ff00;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M2 2h2v2H2zM4 0h2v2H4zM10 4h2v2h-2zM0 4h2v2H0zM6 0h2v2H6zM8 2h2v2H8zM8 8h2v2H8zM6 10h2v2H6zM0 6h2v2H0zM10 6h2v2h-2zM4 10h2v2H4zM2 8h2v2H2z' fill='%2304ff00' /></svg>"); }
  @supports (border-image-source: none) {
    input:focus {
      border-radius: 12px; } }

#usernameFormContainer {
  text-align: center; }

#usernameInput {
  width: 50%; }

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px; }

#loadingDots {
  margin-top: 25px; }

.art {
  white-space: pre; }
